html, body{
    margin: 0;
    padding: 0;
}

.main-header{
    background-color: rgba(0, 0, 0, .03);
    background-image: url(../Images/purple.png);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 10px;
    padding-top: 10px;

}

.nav{   
    width: 100%;
    margin: 0px;
    
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    
    color: darkblue;
    text-decoration:none;
    padding: 1em;
    transition: all 1s ease;
}

.footer-nav a{
    display: inline-block;
    color: darkblue;
    text-decoration:none;
    padding: 1em;
    transition: all 1s ease;
}


.main-nav{
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 6);
    position: fixed; top: 0; right: 0;
    background-image: url(../Images/purple.png);
    padding: 3.5px;
    
}

.nav a:hover{
    background-color:rgb(255, 255, 255);
    padding: 3.5px;
}


.Welcome-Logo{
    text-align: center;
    margin: 0;
    color: navy;
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
}

.Welcome-Logo-Large{
    font-size: 7em;
}

.section-header{
    font-size: 2,5em;
    color: navy;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}


.about-johnny-image{
    border-radius: 40&;
    float: inline-start;
    height: 600px;
    width: 600px;
    border-radius: 
    margin: 15px;
    padding: 1em;
}
.about-johnny-image2{
    float: inline-start;
    height: 600px;
    width: 300px;
    border-radius: 50%;
    margin: 15px;
    padding: 1em;
}

.text-about{
    text-align: start;
}

.section-content{
    margin: 1em;
}

.section-header{
    font-size: 2em;
    color: navy;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.main-footer{
    background-color: rgb(162, 90, 221);
    padding: .25em 0;
    text-align: left;
}

.projects1{
    background-color: skyblue;
    height: 400px;
}

.projects2{
    background-color: whitesmoke;
    height: 400px;
    
}

.projects3{
    background-color:skyblue;
    height: 400px;
    
}



/* footer */
